[build]
  command = "npm install && npm run build"
  publish = "/build"
  base = "/"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
