.flying-turtle-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: -1;
}

.flying-turtle {
  height: 100px;
  margin-top: 0;
  animation: flyAcrossScreen 20s linear infinite;
}

@keyframes flyAcrossScreen {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(100vw + 500px));
  }
}
