.App {
  color: #000002;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  max-height: calc(100vh - 60px);
  min-width: 100%;
  overflow: auto;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.content-wrapper {
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IntroText {
  font-size: large;
  margin-bottom: 40px;
  color: #faf9f6;
}

.Greeting {
  font-family: "Press Start 2P";
}
